.filtering {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 2em;
}

//categories
.categoriesTitle {
	font-weight: 700;
	color: var(--text-second);
}

.categories {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: .5em;
}

.category {
	width: 100%;
	padding: .2em;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	cursor: pointer;

	
}

.categoryInput {
	appearance: none;
	width: 1.2em;
	height: 1.2em;
	border: .1em solid var(--text-default);
	border-radius: .4em;

	&:hover {
		background-color: var(--background-default);
	}

	&:checked {
		background-color: var(--input-checked);
	}
}

.categoryName {
	margin-left: 1em;
}

//button
.categoryButton {
	width: 100%;
	padding: .8em;
	font-size: 1em;
	letter-spacing: .05em;
	color: var(--background-second);
	background-color: var(--button-default);
	border-radius: .4em;
	transition: .3s;

	&:hover {
		background-color: var(--button-hover);
	}

	&:active {
		transform: scale(.99);
	}
}