@use '../../breakpoints' as bp;

.filtering {
	max-height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 2em;

	@include bp.tablet {
		gap: 1em;
		align-items: start;
	}

	@include bp.mobile {
		justify-content: center;
		align-items: center;
		gap: .5em;
	}
}

//categories
.categoriesTitle {
	font-weight: 700;
	color: var(--text-second);
}

.categories {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: .5em;

	@include bp.tablet {
		flex-direction: row;
		justify-content: start;
		align-items: center;
		flex-wrap: wrap;
	}

	@include bp.mobile {
		width: 154px;
		flex-direction: column;
		align-items: start;
		gap: .25em;
	}
}

.category {
	width: 100%;
	padding: .2em;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	cursor: pointer;

	@include bp.tablet {
		width: max-content;
	}
}

.categoryInput {
	appearance: none;
	width: 1.2em;
	height: 1.2em;
	border: .1em solid var(--text-default);
	border-radius: .4em;

	&:hover {
		background-color: var(--background-default);
	}

	&:checked {
		background-color: var(--input-checked);
	}
}

.categoryName {
	margin-left: 1em;

	@include bp.tablet {
		margin-left: .5em;
	}
}