$mobile: "screen and (max-width: 445px)";
$tablet: "screen and (max-width: 1024px)";
$desktop: "screen and (min-width: 1025px)";

@mixin mobile {
    @media #{$mobile} {
        @content;
    }
}

@mixin tablet {
    @media #{$tablet} {
        @content;
    }
}

@mixin desktop {
    @media #{$desktop} {
        @content;
    }
}