@use 'breakpoints' as bp;

:root {
	--text-default: #2E2C35;
	--text-second: #4D5A61;
	--background-default: #F5F2EC;
	--background-second: #FFFFFF;
	--input-checked: #F5B94C;
	--button-default: #CCB179;
	--button-hover: #948164;
	--price-default: #F47B63;
	--rating-default: #DA9100;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	border: none;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

html {
	height: 100%;
	color: var(--text-default);
	background-color: var(--background-default);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	font-family: var(--font-arimo), Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;

	@include bp.tablet {
		padding: 1.5em;
		font-size: 15px;
	}

	@include bp.mobile {
		padding: 1em;
		font-size: 14px;
	}
}

.main {
	max-width: 1416px;
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: auto auto 1fr;
	column-gap: 2em;
	row-gap: 1em;

	@include bp.tablet {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		column-gap: 1em;
	}

	@include bp.mobile {
        padding: 1em;
		gap: .5em;
    }
}

img {
	display: block;
}

.title {
	grid-column: 1 / -1;
	justify-self: center;
	color: var(--text-second);
}

.sorting,
.filtering,
.cards {
	padding: 1em;
	border: .1em solid var(--button-hover);
	border-radius: 1em;
	background-color: var(--background-second);

	@include bp.tablet {
		padding: .5em;
	}
}

.sorting {
	max-height: 78px;
	grid-column: 2 / -1;

	@include bp.tablet {
        grid-column: 1 / -1;
    }

	@include bp.mobile {
		text-align: center;
	}
}

.filtering {
	grid-column: 1 / 2;
	grid-row: 2 / 4;

	@include bp.tablet {
        grid-column: 1 / -1;
        grid-row: auto;
    }
}

.cards {
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;

	@include bp.tablet {
		min-height: 50vh;
		grid-column: 1 / -1;
		grid-template-columns: repeat(2, 1fr);
		gap: .5em;
	}

	@include bp.mobile {
		grid-template-columns: 1fr;
	}
}