@use '../../breakpoints' as bp;

.sortingValues {
	width: max-content;
	padding: .8em 2em;
	font-size: .9em;
	color: var(--text-default);
	background-color: var(--background-default);
	text-align: center;
	border: .1em solid var(--button-default);
    border-radius: .5em;
	appearance: none;
	
	&:hover {
		border-color: var(--button-hover);
	}

	@include bp.tablet {
		padding: .6em 1.5em;
	}

	@include bp.mobile {
		width: 154px;
		text-align: center;
	}
}