.price {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 1em;
}

.priceTitle	{
	font-weight: 700;
	color: var(--text-second);
}

.priceInput {
	height: 3em;
    border: .1em solid var(--text-default);
    border-radius: .5em;
    padding: 0.5em;
	background-color: var(--background-default);
}