@use '../../breakpoints' as bp;

.card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: var(--background-default);
	border-radius: .5em;

	&:hover {
		cursor: pointer;
	}
}

.cardAbout {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	@include bp.tablet {
		padding: .5em;
	}
}

.cardImage {
	width: 100%;
	height: auto;
	align-self: center;
	border-radius: .5em .5em 0 0;
}

.cardTitle {
	font-size: 1.2em;
	font-weight: 500;
	color: var(--text-second);
	order: -2;
}

.cardPrice {
	font-size: 1.5em;
	font-weight: 700;
	color: var(--price-default);
	letter-spacing: .05em;
	order: -1;
}

.cardRating {
	font-size: 1.1em;
	font-weight: 500;
	color: var(--rating-default);
}

.cardCategory {
	color: var(--text-second);
}